<h1>Listado de Productos</h1>
<ul>
  {{#each products}}
    <li>
      <h3>{{title}}</h3>
      <p>Categoria: {{category}}</p>
      <p>Precio: ${{price}}</p>
      <p>Stock: {{stock}}</p>
      <a href="/products/{{id}}">Ver Detalles</a>
      <button onclick="addToCart('{{id}}')">Agregar al carrito</button> 
    </li>
  {{/each}}
</ul>

<div>
  <p>Página {{page}} de {{pages}}</p>
  <p>Total de productos: {{total}}</p>
  <div>
    {{#if (gt page 1)}}
      <a href="/products?page={{subtract page 1}}&limit=10">Página Anterior</a>
    {{/if}}
    {{#if (lt page pages)}}
      <a href="/products?page={{add page 1}}&limit=10">Página Siguiente</a>
    {{/if}}
  </div>
</div>

<script>
 
  function addToCart(productId) {
    
    fetch(`/cart/add/${productId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ productId })
    })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success') {
         
          alert('Producto agregado al carrito');
        } else {
          alert('Error al agregar el producto al carrito');
        }
      })
      .catch(error => {
        console.error('Error al agregar el producto al carrito:', error);
        alert('Hubo un problema al agregar el producto');
      });
  }
</script>
